# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
atlassian-ide-plugin.xml
solr-webapp/overlays

# Mac
.DS_Store

# Maven
log/
target/

# Netbeans
nbproject/
nbactions.xml
nb-configuration.xml
